alembic==1.7.4
certifi==2021.10.8
chardet==3.0.4
greenlet==1.1.2
idna==2.10
importlib-metadata==4.8.2
importlib-resources==5.4.0
Mako==1.1.5
MarkupSafe==2.0.1
PyAudio==0.2.11
pygame==2.0.0
requests==2.24.0
SQLAlchemy==1.4.26
urllib3==1.25.11
vosk==0.3.15
zipp==3.6.0
